
.header-inicio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 40;
}

.header-inicio img {
    padding-right: 600px;
}

.links-inicio {
    list-style-type: none;
    text-align: end;
}

.links-inicio li {
    float: right;
    margin-right: 10px;
    padding: 0 4px;
}

.links-inicio a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.links-inicio a:hover {
    color: black;
    
}

.titulo {
    font-size: 50px;
    padding-bottom: 20px;
}

section p {
    display: flex;
    flex-direction: column;
    

}

nav {
    position: relative;
    padding-bottom: 100px; 
    background-image: url("Imagenes/grey-concrete-building-blue-sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Introduccion {
    color: rgb(255, 255, 255);
    margin: 100px;
    padding-right: 600px;
}


@keyframes aparecer-inicio {

    0% { 
        opacity: 0;
    }
    
    100% { opacity: 1;}
}

.Introduccion {
    animation-duration: 2s;
    animation-name: aparecer-inicio;
    animation-iteration-count:initial;
}



.location {
    display: flex;
    padding: 30px 60px 30px 0px;
}

@keyframes aparecer-location {

    0% { 
        opacity: 0;
    }
    
    100% { opacity: 1;}
}

.location {
    animation-duration: 2s;
    animation-name: aparecer-location;
    animation-iteration-count:initial;
}

.text {
    display: flex;
    flex-direction: column;
    padding: 50px;
    
}

.text h2 {
    padding-bottom: 20px;
}

.location .map {

    border-radius: 30px;
    width: 100%;
    height: 400px;
    position: relative;
       
}

@media (max-width: 900px) {
    .header-inicio img {
       padding: 10px;
    }

    nav {
        padding: 10px;
        padding-bottom: 30px;
    }

    .titulo {
        font-size: x-large;
    }

    .subtitulo {
        font-size: medium;
    }

    section p {
        font-size: small;
    }

    div .text {
        font-size: small;
        padding: 20px;
    }

    .Introduccion {
        padding: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 10px;
    }

    .location {
        display: flex;
        flex-direction: column;
        padding: 10px;
        padding-top: 50px;
        padding-bottom: 100px;
    }
}

/* Que hacemos? */

.border { border-bottom: solid 3px rgb(237, 214, 6);}

.subtituloq {

    display: flex;
    justify-content: end;
    color: white;
    background-color:rgb(237, 214, 6);
    bottom: 10px;
    width: 50%;
    padding: 10px;
    padding-right: 30px;
    margin-top: 100px;
    margin-bottom: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    
}


.text-q .texto-q {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 150px;
    font-weight: 500;

}

.text-q .titulo-q {
    margin-top: 50px;
    margin-left: 100px;
}

.imagecontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 160px;
    padding: 10px;
    
}

.image1,
.image2,
.image3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 20px;
    padding-bottom: 20px;
    font-style: italic;
    object-fit: cover;
    
}


.subtitulo-img {
    display: flex;
    flex-direction: row;
    margin: 20px 50px 0 50px;
    padding-top: 10px;
    border-top: solid 4px rgb(237, 214, 6);
}

@media (max-width: 800px) {
    
    .location {
        
        padding-bottom: 0px;
    
    }
    
    
    .text-q {
        
        display: flex;
        font-size: smaller ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .text-q .titulo-q {
        padding: 10px;
        margin: 10px;
    }

    .text-q .texto-q {
        padding: 20px;
        text-align: center;
        margin: 10px;
        font-size: 1%;
    }

    
    .text-q p { font-size: small;}

    .imagecontainer {
        display: flex;
        flex-direction: column; 
        margin-bottom: 50px;
        margin-top: 50px;   
    }

    .subtitulo-img {
        display: flex;
        padding: 20px;
        margin: 0px;
    }

    div.image1, div.image2, div.image3 {
        display: flex;
        flex-direction: column;
        margin: 200px;

    }
}
