.text-n-contenedor {
    padding: 50px;
    padding-top: 120px;
    padding-left: 100px;
    margin-bottom: 150px;
    
    
}

.texto-nosotros {
    padding-right: 300px;
    padding-bottom: 30px;
    border-bottom: solid 5px rgb(237, 214, 6);
}

.titulo-n {
    padding-bottom: 30px;
    font-size: larger;
}

@media (max-width: 900px) {
    .text-n-contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 50px;
        padding-top: 100px;
        padding-bottom: 220px;
    }

    .texto-nosotros {
        padding: 0px;
        font-size: small;
        padding-bottom: 50px;
    }
}
