.text-n-contenedor {
    padding: 50px;
    padding-left: 100px;
    
}

.texto-nosotros {
    padding-right: 300px;
    padding-bottom: 30px;
}

.titulo-n {
    padding-bottom: 30px;
    font-size: larger;
}

@media (max-width: 900px) {
    .text-n-contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 50px;
        padding-bottom: 250px;
    }

    .texto-nosotros {
        padding: 0px;
        font-size: small;
    }
}